  /* Structure */
.runners-container {
  position: relative;
  min-height: 200px;
  text-align: center;
}

.runners-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

td, th {
  width: 25%;
}

.runners-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;  
}

/* Column Widths */
.mat-column-number {
  max-width: 64px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-card {
  margin-bottom: 20px;
}

.new-runner-button-row {
  margin-top: 10px;
  text-align: right;
}
